footer {
  background-color: black;
  color: white;
  padding: 50px;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 0.75em;
}

img.footer-small-logos {
  height: 1em;
  width: 1em;
  margin-left: 0.5em;
}

img.footer-logo {
  padding-bottom: 30px;
  width: 300px;
}
