* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h2,
h3,
h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

button {
  min-width: 100px;
  height: 35px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: black;
  color: white;
  cursor: pointer;
  font-style: italic;
  font-family: inherit;
  text-transform: uppercase;
  margin-top: 0.3rem;
  padding: 0.3rem 0.8rem;
  text-decoration: none;
  border: none;
  transition: background-color 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover {
  background-color: rgb(189, 184, 184);
}

button:disabled:hover {
  background-color: black;
  cursor: default;
}

span {
  line-height: 1.3;
}
input {
  margin-left: 10px;

}

label {
    justify-content: right;
    width: 150px;
    text-align: right;
}

@media screen and (max-width: 768px) {
  h2 {
    margin: 20px;
    text-align: center;
  }
  label {
    text-align: center;
  }
}